
/* Color variables */
:root {
  --brand-color-teal: #4f878f;
  --dark-grey: #333333;
  --medium-grey: #aaaaaa;
  --light-grey: #f5f5f5;
  --white: #ffff;
  --black: #0000;
}

/* Reset */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  color: #333333;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #333333;

}

h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #333333;

}

h3 {
  font-size: 26px;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

p,
li {
  font-size: 20px;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #333333;

}

ul {
  padding: 0;
  color: #333333;

}

/* Mobile top with the logo */
.mobiletop {
  width: 100vw;
  height: 70px;
  background-color: var(--white);
  border-bottom: 2px solid var(--dark-grey);
  z-index: 2;
}

.logo img {
  width: 250px;
  padding: 13px 0 6px 18px;
  position: relative;
}
/* ------------ */

/* Bottom navigation with the 4 different tabs */

nav {
  width: 100vw;
  height: 70px;
  background-color: var(--light-grey);
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
}

nav .icon-bar {
  width: 100vw;
  max-width: 768px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style-type: none;
}

nav .icon {
  width: 45px;
  height: 45px;
  position: relative;
  margin-top: 10px;
  display: flex;
}

nav .icon img {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#current-page {
  background-color: var(--brand-color-teal);
  width: 40px;
  height: 4px;
  border-radius: 8px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------ */

/* back arrow for inspiration pages */
.back-arrow {
    width: 40px;
    margin: 40px 20px 0 20px;
}

.back-arrow-l {
    display: block;
    width: 80px;
    height: 80px;
}