h1 {
    margin: 50px 18px;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
}


button {
    border: none;    
    padding: 15px 8px 15px 15px;
    border-radius: 8px;
    width: 100%; 
}
.not-active {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    align-items: center;
    position: relative;
    text-align: start;
    
}

.not-active h3 {
    color: #333333;
}

@media only screen and (max-width: 365px) {
    .not-active h3 {
        width: 300px;
        font-size: 24px;
    }
    button {
        width: 320px;
        margin: 0 10px;
    }
  }

  @media only screen and (min-width: 370px) {
    button {
        width: 345px;
        margin: 0 10px;
    }
  }

@media only screen and (min-width: 425px) {
    .not-active h3 {
        width: 300px;
    }
  }

.color-icon {
    width: 35px;
    height: 25px;
    border-radius: 6px;
    left: 0;
   
}

p {
    margin-bottom: 10px;
    width: 180px;
}

/* areacodes */
.nr-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 15px;
}

.nr {
    height: 30px;
    padding: 0 13px 4px;
    background-color: #1A5159;
    
    border-radius: 6px;
    width: 100px;
    text-align: center;
}

.nr h3 {
    color: #ffffff;
}


/* needs to activate */
.info { 
    text-align: start;
    padding: 15px 0;
    display: none;
}

.arrow-down {
    position: absolute;
    right: 0;
    display: block;
}

.arrow-up {
    position: absolute;
    right: 0;
    display: none;
}

li {
    width: 290px;
    position: relative;
    margin-left: 20px;
}

.map {
    width: 90%;
    min-width: 320px;
    max-width: 425px;
}

.map-section a{
 color: black;
    margin-bottom: 60px;
}