/* First page made by Lisa Vartia */

/* Header */
header {
  margin: 18px;
}

header h1 {
    margin: 50px 0 30px 0;
}

header .p-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

header img {
  width: 340px;
  height: 260px;
  border-radius: 8px;
}

/* Header End */
/* Section one start */
.container {
    margin: 18px 18px 60px 18px;
    background-color: var(--light-grey);
    border-radius: 8px;
    padding: 15px 0 15px 16px;


}

ul {
    padding-left: 24px;
}

/* Section two start */

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 18px;
    margin-bottom: 140px;
    gap: 20px;
}    


h3 {
    width: 275px;
    text-align: center;
    font-weight: 400;
    
}

button {
    width: 200px;
    height: 60px;
    background-color: var(--brand-color-teal);
    border: none;
    border-radius: 0px 28px 12px;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--white);
}

.ins-btn {
    position: relative;
}

.ins-btn img{
   display: flex;
   position: absolute; 
    right: 40px;
    bottom: -10px;
}


/* Section two end */